.dark {
  background: dimgrey;
}

.dark-text {
  color: aliceblue;
}

.red {
  background: lightcoral;
}

.red-text {
  color: aqua;
}

.some {
  background: lightgreen;
}

.some-text {
  color: darkslateblue;
}

.pink {
  background-color: hotpink;
}
.pink-text {
  color: rgb(41, 32, 37);
}

.forest {
  background-color: rgb(183, 216, 198);
}
.forest-text {
  color: rgb(80, 65, 17);
}
