.superInput {
  border: 2px solid black;
  /* border-radius: 1rem;
  font-size: 1.4rem;
  padding: 0 0.5rem;
  background-color: transparent; */
  color: black;
}
.input:focus {
  outline: none;
  border-color: blueviolet;
}

.errorInput {
  border: 2px solid red;
}

.error {
  color: red;
}
